.column{
    width:24%;
}
.wbox1{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4em;
}
.wbox1:hover {
    text-decoration: underline;
    color: red;
}
.anh1{
    padding-bottom: 75%;
    width: 600%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.aboutBook{
    margin: 15px auto;
    max-width: 1440px;
    padding: 15px;
    border-radius: 15px;
    background-color: aliceblue;
}
.image-gallery-image{
    height: 500px;
    object-fit: contain;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-gallery-thumbnails-container{
    background-color: white;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px 0;
}
.image-gallery-svg{
    height: 50px !important;
}
.price1{
    color: rgb(238, 76, 55);
    font-size: 3em;
    font-weight: bold;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.ant-tabs-nav-list{
    padding-left: 10px;
}
 @media (max-width: 600px) {
    .ant-tabs-tab{
        margin: 0 0 0 15px !important;
    }
    .ant-tabs-nav-list{
        padding-left: 0px;
    }
}